<!DOCTYPE html>
<html>
<head>
<!-- <meta http-equiv="refresh" content="300"> -->
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<title>{{title}}</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Villa</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="muc">Muc</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="dra">Dra</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="vdr/schedule.html">Vdr</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="video">Video</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="log">Log</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="stations">Stations</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="motion">Motion</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="control">Control</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="controlmuc">Control Muc</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="webcam">Cam</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="webcamRemote">Cam Remote</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="status">Status</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="admin">Admin</a>
      </li>
      <li class="nav-item>">
        <a class="nav-link" href="logout">Logout</a>
      </li>     
    </ul>
  </div>
</nav>
<br>

{{{body}}}

 <!-- jQuery first, then Popper.js, then Bootstrap JS -->
 <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

{{{_sections.jquery}}}
</body>
</html>
