<div class="container-fluid">
<h1>Admin</h1>
<form id="admindata" action="/admincontrol" method="post">  
    <div class="form-group">
    <label for="ControlSelectDayOn">Day on</label>
    <select class="form-control" id="ControlSelectDayOn" name="ControlSelectDayOn">
      <option>4</option>
      <option>5</option>
      <option>6</option>
      <option>7</option>
      <option>8</option>
      <option>9</option>
      <option>10</option>
    </select>
  </div>
  <div class="form-group">
    <label for="ControlSelectDayOff">Day off</label>
    <select class="form-control" id="ControlSelectDayOff" name="ControlSelectDayOff">
      <option>21</option>
      <option>22</option>
      <option>23</option>
      <option>24</option>    
    </select>
  </div>
  <div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="CheckResetRuntime" name="CheckResetRuntime">
  <label class="form-check-label" for="CheckResetRuntime">
    Reset runtime
  </label>
  </div><br>
  <button type="submit" class="btn btn-primary">Submit</button>  
</form>
</div>	
{{#section 'jquery'}}
<script>
 $(document).ready(function() {
    
    $(':text:first').focus();
    $('form').submit(function(e) {
    	//e.preventDefault();
    	
        $.post("admincontrol",$('#admindata').serialize());

       });
    $.each($('#navbarNav').find('li'), function() {
        $(this).toggleClass('active',
            '/' + $(this).find('a').attr('href') == window.location.pathname);
    }); 
  });
</script>
{{/section}}