<div class="container-fluid">
<div class="container">
<h1>Control Center</h1> 
<div id="controls"></div>
<br>
<div class="container">
</div>
</div>
<p> Green = Power on </p>
<p> Red   = Power off </p>
</div>

<script type="text/template" id="controls-template">
<button class="btn btn-danger btn-lg" id="onPower">On</button>
</script>
	
{{#section 'jquery'}}
<script src="js/main2.js"></script>
<script src="js/mycode3.js"></script>
<script>
   
 $(document).ready(function() {
    console.log('ready');
    $.each($('#navbarNav').find('li'), function() {
        $(this).toggleClass('active',
            '/' + $(this).find('a').attr('href') == window.location.pathname);
    }); 
    
  });
 </script>
{{/section}} 	
