<h1>Control Center</h1> 
<div id="controls"></div>
<script type="text/template" id="controls-template">
<div class="view">
<button class="btn btn-primary" id="onHeizung">On</button></div><br>
<button class="btn btn-primary" id="onDayNight">Day Night On</button></div>
</script>
<br>
<h1>State</h1> 
<div id="status"></div>
<script type="text/template" id="view-template">
<div class="view">
<label>Stunden:     <%= hours %></label> <br>
<label>Starts:      <%= burnerStarts %></label><br>
<label>Heizung:     <%= burnerState %></label><br>
<label>Battery:     <%= voltageBattery %></label><br>
<label>Temperature: <%= temp %></label><br>
<label>Day on:      <%= dayNightTimeOn %> </label><br>
<label>Day off:     <%= dayNightTimeoff %> </label><br>
<label>Day active:  <%= dayNightState %> </label>
</div>
</script>	
{{#section 'jquery'}}	
<script src="js/main.js"></script>
<script src="js/mycode2.js"></script>
<script>
 $(document).ready(function() {
    console.log('ready');
    $.each($('#navbarNav').find('li'), function() {
        $(this).toggleClass('active',
            '/' + $(this).find('a').attr('href') == window.location.pathname);
    }); 
    
  });
 </script>
{{/section}} 	
