<div class="container-fluid">
    <h1>Log file</h1>
    <label> {{logdata}} </label>	
</div>
{{#section 'jquery'}}
<script>
 $(document).ready(function() {
    console.log('ready');
    $.each($('#navbarNav').find('li'), function() {
        $(this).toggleClass('active',
            '/' + $(this).find('a').attr('href') == window.location.pathname);
    }); 
    
  });
</script>
{{/section}}
