<div class="container">
    <h1>Log file</h1>
    <label> {{logdata}} </label>	
</div>
{{#section 'jquery'}}
<script>
 $(document).ready(function() {
    console.log('ready');
    
  });
</script>
{{/section}}
