<div class="table-responsive">
<table class="table table-striped table-sm">
<caption>Villa</caption>
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Label</th>
      <th scope="col">Name</th>
      <th scope="col">Temperatur</th>
      <th scope="col">Humidity</th>
      <th scope="col">Data</th>
      <th scope="col">Bat</th>
      <th scope="col">Res</th>
      <th scope="col">Time</th>
    </tr>
  </thead>
  <tbody id="stations"></tbody>
</table>
</div>

<div class="table-responsive">
<table class="table table-striped table-sm">
<caption>Muc</caption>
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Label</th>
      <th scope="col">Name</th>
      <th scope="col">Temperatur</th>
      <th scope="col">Humidity</th>
      <th scope="col">Data</th>
      <th scope="col">Bat</th>
      <th scope="col">Res</th>
      <th scope="col">Time</th>
    </tr>
  </thead>
  <tbody id="stationsremote"></tbody>
</table>
</div>
<div class="table-responsive">
<table class="table table-striped table-sm">
<caption>Dra</caption>
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Label</th>
      <th scope="col">Name</th>
      <th scope="col">Temperatur</th>
      <th scope="col">Humidity</th>
      <th scope="col">Data</th>
      <th scope="col">Bat</th>
      <th scope="col">Res</th>
      <th scope="col">Time</th>
    </tr>
  </thead>
  <tbody id="stationsremote2"></tbody>
</table>
</div>  
<script type="text/template" id="view-station-template">
<td><%= id %></td>
<td><%= label %></td>
<td><%= name %></td>
<td><%= temp %></td>
<td><%= (hum)!== 106 ?  hum : '' %></td>
<td><%= datasource %></td>
<td><%= (lowbattery) !== 0 ? 'low' : ''  %></td>
<td><%= (reset) === 1 ? '1' : ''  %></td>
<td><%= timestr %></td>
</script>

{{#section 'jquery'}}
<script src="js/bundle2.js"></script>
<script src="js/mycode.js"></script>
<script>

 $(document).ready(function() {
    console.log('ready');
    $.each($('#navbarNav').find('li'), function() {
        $(this).toggleClass('active',
            '/' + $(this).find('a').attr('href') == window.location.pathname);
    });
    
  });

</script>
{{/section}}
