<div class="container-fluid">
<h1>Active Tempstation</h1>
<h2>Local</h1>
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Label</th>
      <th>Name</th>
      <th>Temperatur</th>
      <th>Humidity</th>
      <th>Datasource</th>
      <th>Time</th>
    </tr>
  </thead>
  <tbody id="stations"></tbody>
</table>

<h2>Muc</h1>
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Label</th>
      <th>Name</th>
      <th>Temperatur</th>
      <th>Humidity</th>
      <th>Datasource</th>
      <th>Time</th>
    </tr>
  </thead>
  <tbody id="stationsremote"></tbody>
</table>
</div>	
<script type="text/template" id="view-station-template">
<td><%= id %></td>
<td><%= label %></td>
<td><%= name %></td>
<td><%= temp %></td>
<td><%= hum %></td>
<td><%= datasource %></td>
<td><%= timestr %></td>

</script>

{{#section 'jquery'}}
<script src="js/bundle2.js"></script>
<script src="js/mycode.js"></script>
<script>

 $(document).ready(function() {
    console.log('ready');
    $.each($('#navbarNav').find('li'), function() {
        $(this).toggleClass('active',
            '/' + $(this).find('a').attr('href') == window.location.pathname);
    });
    
  });

</script>
{{/section}}