<div class="container">
<h1>Web cam</h1>
<img  src="/picture/cam.jpg" class="img-fluid"  alt="Offline">
</div>	
{{#section 'jquery'}}
<script>
 $(document).ready(function() {
    console.log('ready');
    $.each($('#navbarNav').find('li'), function() {
        $(this).toggleClass('active',
            '/' + $(this).find('a').attr('href') == window.location.pathname);
    }); 
  });
</script>
{{/section}}