<div class="container-fluid">
<div class="container">
   <div class="row justify-content-md-center">
      <img  src="/picture/cam.jpg" class="img-fluid"  alt="Offline">
   </div>
</div>
<div class="container">
   <div class="row justify-content-md-center">
      <img  src="/picture/ipcam1.jpg" class="img-fluid"  alt="Offline">
   </div>
</div>
<div class="container">
   <div class="row justify-content-md-center">
      <img  src="/picture/ipcam2.jpg" class="img-fluid"  alt="Offline">
   </div>
</div>
<div class="container">
   <div class="row justify-content-md-center">
      <img  src="/picture/ipcam3.jpg" class="img-fluid"  alt="Offline">
   </div>
</div>	
</div>

{{#section 'jquery'}}
<script>
 $(document).ready(function() {
    console.log('ready');
    $.each($('#navbarNav').find('li'), function() {
        $(this).toggleClass('active',
            '/' + $(this).find('a').attr('href') == window.location.pathname);
    }); 
  });
</script>
{{/section}}
