<div class="container-fluid">
<div id="demo" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/picture/dipcam1.jpg" class="img-fluid"  alt="Dip1 offline">
       <div class="carousel-caption">
        <h4>Einfahrt</h4>
        <p>Meine Einfahrt</p>
        </div>
    </div>
    <div class="carousel-item">
      <img src="/picture/dipcam2.jpg" class="img-fluid"  alt="Dip2 offline">
      <div class="carousel-caption">
        <h4>Dorf</h4>
        <p>Der Garten</p>
        </div>
    </div>
    <div class="carousel-item">
      <img src="/picture/dracam.jpg" class="img-fluid" alt="Dra offline">
      <div class="carousel-caption">
        <h4>Im Wald</h4>
        <p>Der Garten</p>
        </div>
    </div>
  </div>
  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
</div>

{{#section 'jquery'}}
<script type="text/javascript">
 $(document).ready(function() {
    $.each($('#navbarNav').find('li'), function() {
        $(this).toggleClass('active',
            '/' + $(this).find('a').attr('href') == window.location.pathname);
    });
    
  });
</script>
{{/section}}