<div class="container-fluid">
  <div id="demo" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
      <li data-target="#demo" data-slide-to="3"></li>
      <li data-target="#demo" data-slide-to="4"></li>
    </ul>
    <!-- The slideshow -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/picture/dipcam1.jpg" onerror="functionToRemoveWrapping(this)" class="d-block w-100"
          alt="Dip1 offline">
        <div class="carousel-caption">
          <h4>Einfahrt</h4>
          <p>Meine Einfahrt</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/picture/dipcam2.jpg" onerror="functionToRemoveWrapping(this)" class="d-block w-100"
          alt="Dip2 offline">
        <div class="carousel-caption">
          <h4>Dorf</h4>
          <p>Der Garten</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/picture/dipcam3.jpg" onerror="functionToRemoveWrapping(this)" class="d-block w-100"
          alt="Dra offline">
        <div class="carousel-caption">
          <h4>Garten 2</h4>
          <p>Der Garten</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/picture/dipcam4.jpg" onerror="functionToRemoveWrapping(this)" class="d-block w-100"
          alt="Dra offline">
        <div class="carousel-caption">
          <h4>Garten 2</h4>
          <p>Der Garten hinten</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/picture/dracam.jpg" onerror="functionToRemoveWrapping(this)" class="d-block w-100" alt="Dra offline">
        <div class="carousel-caption">
          <h4>Garten</h4>
          <p>Der Garten</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/picture/muccam2.jpg" onerror="functionToRemoveWrapping(this)" class="d-block w-100"
          alt="Muc offline">
        <div class="carousel-caption">
          <h4>Wohnung</h4>
          <p>Eingang</p>
        </div>
      </div>

    </div>
    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
</div>

{{#section 'jquery'}}
<script type="text/javascript">
  $(document).ready(function () {
    $.each($('#navbarNav').find('li'), function () {
      $(this).toggleClass('active',
        '/' + $(this).find('a').attr('href') == window.location.pathname);
    });

  });

  function functionToRemoveWrapping(image) {
    setTimeout(function () {
      $(image).attr("src", "offline.jpg");
    }, 2000);
  }
</script>
{{/section}}