<div class="container-fluid">
<h1>Remote webcam</h1>
<img  src="/picture/dipcam1.jpg" class="img-fluid"  alt="Dip1 offline">
<img  src="/picture/dipcam2.jpg" class="img-fluid"  alt="Dip2 offline">
<img  src="/picture/dracam.jpg" class="img-fluid"  alt="Dra offline">
<img  src="/picture/muccam.jpg" class="img-fluid"  alt="Muc offline">
</div>
{{#section 'jquery'}}
<script>
 $(document).ready(function() {
    console.log('ready');
    $.each($('#navbarNav').find('li'), function() {
        $(this).toggleClass('active',
            '/' + $(this).find('a').attr('href') == window.location.pathname);
    });
    
  });
</script>
{{/section}}