<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>State</title>
<meta name="description" content="">

</head>
<body>
<h1>Control Center</h1>
<div id="controls"></div>
	
<script type="text/template" id="controls-template">
<div class="view">
<button class="btn btn-primary" id="onHeizung">On</button></div>

<button class="btn btn-primary" id="onDayNight">Day Night On</button></div>
</script>

<div id="status"></div>
<script type="text/template" id="view-template">
<div class="view">
<label>Stunden: <%= hours %></label> <br>
<label>Starts:  <%= burnerStarts %></label><br>
<label>Heizung: <%= burnerState %></label><br>
<label>Battery: <%= voltageBattery %></label><br>
<label>Day on:  <%= dayNightTimeOn %> </label><br>
<label>Day off: <%= dayNightTimeoff %> </label><br>
<label>Day active: <%= dayNightState %> </label>


</div>
</script>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<script src="js/jquery-3.2.1.min.js"></script> 
	<script src="js/main.js"></script>
	<script src="js/mycode2.js"></script>
	
</body>
</html>